---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.jsx';
---

<Layout title="Welcome to Astro.">
	<div id="handler-block">
		<Card client:load></Card>
	</div>
</Layout>